
.jumbotron{
    background: url("../img/pattern.png");
    background-size: cover;
    height: 600px;
}


.navbar.navbar-default{
    height: 90px;
    background-color: white;
    border-color: transparent;
    color:#4A4A49;
    font-size: medium;
}


#logo{
    margin-top: -18px;
    width: 88px;
    height: 88px;
}

#logo:hover{
    transition: width 2s, height 2s, transform 2s;
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}

#home{
    color: #E84640;
    border-radius: 10px;

}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    text-align: center;
    margin: 90px 0 20px 0;
 }


.ralewayB{
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

a.Bbianco{
    color: white;
}

a.Bbianco:hover{
    color: white;
}

.ralewayC{
    font-family:'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}

#sottomenu{
    margin-top: 20px;
    margin-left: 5%;
    background-color: white;
    z-index: 10;
    position: relative;
}

#bs-example-navbar-collapse-1{
    border-color: transparent;
}

#sottomenu li a:hover{
    background-color: #E84640;
    color: white;
    border-radius: 10px;
    transition: 1s;
}

.titleSezione{
    background-color: #E84640;
    color: white;
    text-align: center;
    font-size: 33px;
}



.container{
    margin-top: 60px;
    margin-bottom: 30px;
}

.sezione1{
    margin-top: 50px;
    border-right: solid 3px #CACACA;
    border-left: solid 3px #CACACA;
}


.bordino{
    border-left: solid 3px #CACACA;
    border-right: solid 3px #CACACA;
}

.caricatura{
    width: 200px;
    height: 180px;
}

img.centrata{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.nome{
    text-align: center;
}

.esperienza{
    text-align: center;
    background-color: #CACACA;
}

#verde:hover{
    text-shadow:-1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
    color: #95C11F;
    text-decoration: none;
}

a#verde{
    text-shadow:-1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
     color: #95C11F;

}

.testoGrigio{
   background-color: #CACACA;

}

.testoGrigio.boxGrigio1{
    padding-bottom: 20px;
}

.testoGrigio.boxGrigio2{
    padding-bottom: 97px;
}


.sezione3{
    background-color: #CACACA;
}

.foto>img{
   width: 100%;
}
.foto{
    overflow:hidden;
}

.icona{
    width: 45px;
    height: 45px;

}

.servizi{
    text-align: center;
}

.grigio{
    background-color: #4A4A49;
    text-align: center;
}

.colonnaLunga{
    background-color: #4A4A49;
    padding-bottom: 45px;
}


.social{
    color: white;
}

.Isocial{
    width: 35px;
    height: 35px;
    margin-bottom: 7px;
}

.Isocial:hover{
    background-color: #3A5795;
    color: white;
    border-radius: 15px;
    transition: 1s;

}

h5#email{
    text-align: center;
    color: white;
    margin: 0 10px 0 20px;
    padding-bottom: 30px;
}

h5#email:hover{
    color: white;
}

/*MEDIA QUERY*/


@media (max-width: 839px){
    .mediaQ{
        font-size: 48px;
    }

}

@media (max-width: 1200px){
    #logo:hover{
        margin-top: -18px;
        width: 88px;
        height: 88px;
    }
}
